/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .nav-pills .sidebar-tab-item-1.active {
    padding: 9px 30px;
  }

  .nav-pills .sidebar-tab-item-2 {
    padding: 9px 11px;
  }

  .marquee-headlines {
    width: 10%;
  }

  .nav-pills .sidebar-tab-item-1 {
    margin-top: 9px;
    font-size: 14px;
    padding: 9px 34px;
  }

  .nav-pills .sidebar-tab-item-1.active {
    background-color: #2E6444;
    padding: 9px 32px !important;
    color: #fff;
  }

  .nav-pills .sidebar-tab-item-2.active {
    padding: 9px 11px;
    font-size: 14px;
    margin-top: 9px;
  }

  .nav-pills .sidebar-tab-item-2 {
    margin-top: 9px;
    padding: 9px 10px;
  }

  .online-servey-form label {
    padding: 2px !important;
  }

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
 

  .header-social a {
    margin-right: 5px;
  }

  /* new nav bar  */
  #menu li {
    width: 30%;
  }

  .category-news-card a>img {
    height: 150px;
  }

  .sidebar-newsfeed-area {
    margin-top: 15px;
  }

  .header-topbar form {
    position: absolute;
    top: 100%;
    padding: 0;
    right: 14.8%;
    display: flex;
    width: 70.3%;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 5px;
  }

  .header-topbar form input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
  }

  .header-topbar form button {
    position: absolute;
    right: 5px;
    border: none;
  }

  .header-topbar {
    position: relative;
  }

  .header-social {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .header-area {
    padding-bottom: 100px;
  }

  .nav-pills .sidebar-tab-item-1.active {
    padding: 9px 60px !important;
  }

  .nav-pills .sidebar-tab-item-2 {
    padding: 8px 38px !important;
    margin-left: 0px !important;
    margin-top: 8px;
  }

  .nav-pills .sidebar-tab-item-1 {
    padding: 9px 60px !important;
  }

  .category-news-card h6 {
    padding: 9px 3px !important;
  }

  .marquee-headlines {
    width: 13%;
  }

  .left-card-img img {
    height: 300px;
  }

  .online-servey-form label {
    font-size: 14px !important;
    padding-right: 24px !important;
  }

  nav {
    margin-top: -50px !important;
  }
}


/* small mobile :320px. */
@media (max-width: 767px) {

  nav {
    margin-top: 50px;
  }

  .header-topbar form {
    position: absolute;
    display: none;
  }

  .header-topbar {
    text-align: center;
  }

  .header-social.m-1 {
    text-align: center;
    width: 100%;
  }

  .header-topbar form {
    position: absolute;
    display: none;
  }

  .header-topbar {
    text-align: center;
  }

  nav {
    margin-top: 60px !important;
  }


  #menu li {
    width: 100%;
  }

  .header-topbar form {
    position: absolute;
    top: 100%;
    padding: 0;
    left: 13.2%;
    display: flex;
    width: 73.6%;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 5px;
    position: absolute;

  }

  .header-topbar form input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
  }

  .header-topbar form button {
    position: absolute;
    right: 5px;
    border: none;
  }

  .header-topbar {
    position: relative;
  }
  .header-social {
    width: 100%;
    text-align: center;
  }
  .nav-pills .sidebar-tab-item-1.active {
    padding: 9px 70px;
  }
  .nav-pills .sidebar-tab-item-2 {
    padding: 9px 45px;
  }
  .nav-pills .sidebar-tab-item-1 {
    padding: 9px 69px;
  }
  .nav-pills .sidebar-tab-item-2.active {
    padding: 9px 45px;
  }
  iframe{
    height:300px;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-social a {
    margin-right: 5px;
  }
  .header-social {
    width: 100%;
    text-align: center;
  }
  nav {
    margin-top: 50px;
  }
  .header-topbar {
    text-align: center;
  }

  .header-social.m-1 {
    text-align: center;
    width: 100%;
  }

  /* new nav bar  */
  .header-topbar form {
    left: 24.2%;
    width: 51.6%;

  }

  .header-topbar form input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
  }

  .header-topbar form button {
    position: absolute;
    right: 5px;
    border: none;
  }

  .header-topbar {
    position: relative;
  }


  #menu li {
    width: 100%;
  }

  /* new nav bar end */
  .category-news-card h6 {
    padding: 9px 3px !important;
  }

  .marquee-headlines {
    width: 24%;
  }

  .nav-pills .sidebar-tab-item-1.active {
    margin-top: 7px;
    padding: 9px 83px;
  }

  .nav-pills .sidebar-tab-item-2 {
    margin-top: 7px;
    padding: 9px 57px;
  }

  .nav-pills .sidebar-tab-item-1 {
    margin-top: 7px;
    padding: 9px 83px;
  }

  .nav-pills .sidebar-tab-item-2.active {
    padding: 9px 57px;
  }
}